* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 900px;
    background: rgb(245, 245, 245);
}

footer {
    min-height: 80px;
    background: #343A40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.my-container{
    min-height: 600px;
}